.feedback-menu {
	.feedback-textarea {
		width: 100%;
		height: 20vh;
		resize: none;
	}

	.feedback-status {
		white-space: normal;
	}

	.modal-footer {
		.capture-button {
			width: 20rem;
		}
	}
}
